@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{

  margin:auto; 
  background: #ecd0f2;
  font-family: 'Titillium Web', sans-serif;
}
.navegacion{
    width: 100%;
    background-color: #f7406a;
    height: 70px;
    border: 0px;
    margin: 0px;
}
#nav-menu{
    background-color:#f7406a;
    color: white;
    padding-top: 25px;
    text-align: center;
}

#nav-menu a{
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.imagenes{
    box-sizing: content-box;
    height:220px;
    width: 100%;
    background-color: #ecd0f2;
}
#pandasFotos{
    display: inline-block;
    padding-top: 45px;
    padding-left: 150px;
    margin: auto;

}
#uno, #dos, #tres, #cuatro{
    padding:20;
    margin-right: 25px;
    border: 3px solid white;
}


/**/
.elementItems{
    display: inline-block;
    color: black;
    background-color: #ecd0f2;
    width: 100%;
    height: 50px;
}
#items{
    box-sizing: border-box;
    height: 10px;
    width: 100%;
    padding: 0px 0px 0px 250px ;
    background-color: #ecd0f2;
}
#origen, #extin, #restaurar {
    background-color: #f7406a;
    margin: 0px 1px;
    padding: 4px 90px;
    text-decoration: none;
    color: white;
}
a{
    color: white;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.parrafosElementos{
    display: none;
    margin left: 100px;
    padding: 0px 0px 0px 230px;
    display: inline-block;
    background: #ecd0f2;
    align-content: center;
    width: 
    height: 258px;
}
#parrafElement{
    box-sizing: border-box;

}
#texto1{
    box-sizing: border-box;
    float: left;
    margin: 10px;
    width: 400px;
    height: 200px;
    color: #333131;
    font-family: 'Quicksand', sans-serif;
}
#texto2{
    float: right;
    margin: 10px;
    width: 400px;
    height: 200px;
    color: #333131;
    font-family: 'Quicksand', sans-serif;
}
